
/* contenu de la page */
html{
    padding: 0;
    margin: 0;
}


body{
    min-height: 100vh;
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url("image/bg_body.jpg");
    background-size: 100%;
}


.container {
    margin-top: 40px;
}



.container img {
    background-color: #116484;
    
}

.container .img {
    width: 180px;
    margin-bottom: 1.5rem;
    height: 230px;
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
}

.container .img2 {
    width: 180px;
    margin-bottom: 1.5rem;
    height: 230px;
    border-radius: 10px 0px 0px 10px;
}

.container .card-body {
    padding: 0%;
}

.container .bloc_text {
    background-color: #8D8F8E;
    height: 230px;
    border-radius: 0px 10px 10px 0px;
}

.container .col-md-8 {
    padding-left: 0%;
}

.container h3{
    text-align: center;
    
}

.container p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.container h6 {
    text-align: center;
    margin: 0;
}

.container .col-md-2 {
    flex: 0 0;
    width: 16.6666666667%;
}


.container .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
}

.container .row > * {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: var(--bs-gutter-y);
}

